<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"> The Rial News</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <%= link_to "Inicios", root_path, class:"nav-item nav-link"%>
      <%= link_to "Noticias",  news_index_path , class:"nav-item nav-link"%>
      <%= link_to "Escribir", new_news_path, class:"nav-item nav-link"%>
      <%if user_signed_in? %>
      <li class="nav-item">
         <span>Usuario logeado</span>
         <%= button_to "Cerrar Sesión", destroy_user_session_path, method: :delete, class:"nav-item nav-link"%>
      </li>
      <%else%>
      <%= link_to "Iniciar Sesión", new_user_session_path, class:"nav-item nav-link"%>
      <%= link_to "Registro", new_user_registration_path, class:"nav-item nav-link"%>
      <%end%>
    </div>
  </div>
</nav>